.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card:first-child img {
  height: 400px;
}

.social-media {
  background-color: #2af5a0; /* Kutucuğun arka plan rengi */
  padding: 10px; /* İçerikle kenarlar arasındaki boşluk */
  border-radius: 5px; /* Yuvarlak köşeler */
}
.categories {
background-color: #4da3f3;
}

.badge-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.categories-li {
  background-color:#000000;
  
}

.categories-a {
  color: white;
}

/* Navbar'ın genişliğini ayarlama (isteğe bağlı) */
.navbar {
  width: 100%;
}

/* Mesaj konteynerinin padding'ini sıfırlama */
.message-container {
  padding: 0;
}

.alert {
  margin: 0;
  padding: 1rem; /* İhtiyaca göre ayarlayın */
}


.comments-section {
  margin-top: 20px;
}

.comment {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.comment-author {
  font-weight: bold;
}

.comment-date {
  color: #888;
}

.comment-body {
  margin: 0;
}

.comment-form {
  margin-top: 20px;
}