{% extends "layout.html" %}
{% load static %}


{% block content %}
  

  {% include "partials/_categories.html" %}

    <div class="col-md-10">
      <form action="{% url "search" %}" class="d-flex">
        <input class="form-control me-1" type="text" name="q" placeholder="Anahtar Kelime">
        <button class="btn btn-secondary" type="submit">Arama</button>
    </form>
     <br>
    {% include "partials/_posts.html" %}


    </div>
  </div>
</div>

{% endblock content %}

{% block title %} |Blog {% endblock title %}

