{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="container">
   <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card mb-3">
        <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
         
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock content %}